* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(0, 47, 78, 0.65);
  justify-content: center;
}
.footer {
  margin-top:50px;
  background-color: #0acbf1;
}

.nav-link span {
  color: rgb(146, 250, 250);
}
.nav-link span:hover {
  color: rgb(255, 255, 255);
}

.img {
  width: 100%;
  height: 300px;
}
.dish{
  display: flex;
}
.dish img{
  width: 100%;
}
.infoDish{
  margin: 20px;
  background-color: antiquewhite;
  width: 100%;
  text-align: center;
}
.department{
  margin-bottom: 200px;
}

@media screen and (max-width: 770px) { 
  .dish{
    display: block;
  }
  .footer {
    margin-top:100px;
    background-color: #0acbf1;
  }
}